.centered{
    text-align: center;
}
.productsList{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #e5e7e9;
}