.right{
    position: absolute;
    right: 15px;
    line-height: 50px;
}
.mobile{
    display: none;
}

.desktop{
    display: block;
}

.brandColored{
    color:rgb(181, 126, 7);
}

@media (max-width: 991px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}