.right{
    position: absolute;
    right: 15px;
}
.mobile{
    display: none;
}

.desktop{
    display: block;
}

nav a{
    color: white;
    margin-right: 5px;
}

nav a:last-of-type {
    margin-right: none;
}

.navbar-brand a{
    color: rgb(181, 126, 7);
}

@media (max-width: 991px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}